<div class="slide-out-bg"></div>
<div class="slide-out">
  <div class="slide-out-card">
    {{#link-to "point.index" class="btn-back"}}
      <span class="sr-only">Back</span>
    {{/link-to}}

    <div class="slide-out-heading">
      <div class="title">
        <h3>Editing "<strong>{{model.rentPoint}}</strong>" renting point</h3>
      </div>
    </div>

    <div class="slide-out-content">
      {{point-form point=model onSubmit=(action "savePoint")}}
    </div>
  </div>
</div>